<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3><b>WEBBazaar</b></h3>
<br/>
<hr/>
<form name="f" method="POST" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="username">Введите username:</label>
    <input type="text" name="username" id="username"/>
    <br/>
    <br/>
    <label for="password">Введите пароль:</label>
    <input type="password" name="password" id="password"/>
    <br/>
    <br/>
    <input type="submit" value="Войти в учетную запись">
    <div th:if="${param.error}" style="color:red">Неверно введен логин или пароль!</div>
</form>
<br/>
<form th:method="GET" th:action="@{/auth/registration}">
    <input type="submit" value="Пройти регистрацию">
</form>
<br/>
<hr/>
<form th:method="GET" th:action="@{/home}">
    <input type="submit" value="Вернуться на главную страницу">
</form>
</body>
</html>