<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h3><b>WEBBazaar</b></h3>
<br/>
<hr/>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
    <label for="firstName">Введите имя пользователя:</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</div>
    <br/>
    <br/>
    <label for="username">Введите логин пользователя:</label>
    <input type="text" th:field="*{username}" id="username">
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>
    <br/>
    <label for="email">Введите email пользователя:</label>
    <input type="email" th:field="*{email}" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
    <br/>
    <br/>
    <label for="password">Введите пароль пользователя:</label>
    <input type="password" th:field="*{password}" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
    <br/>
    <br/>
    <label for="phoneNumber">Введите номер телефона пользователя:</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
    <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber error</div>
    <br/>
    <br/>
    <input type="submit" value="Зарегистрироваться">
</form>
<br/>
<hr/>
<form th:method="GET" th:action="@{/home}">
    <input type="submit" value="Вернуться на главную страницу">
</form>
</body>
</html>