<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>
        .button-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
<h3><b>WEBBazaar</b></h3>
<br/>
<hr/>
<h3>Товары со всей России:</h3>
<br/>
<br/>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Выйти из учетной записи">
    </form>
    <br/>
    <form th:method="GET" th:action="@{/person}">
        <input type="submit" value="Профиль">
    </form>
    <br/>
</div>
<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <form th:method="GET" th:action="@{/admin}">
        <input type="submit" value="Панель администратора">
    </form>
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <form th:method="GET" th:action="@{/auth/login}">
        <input type="submit" value="Войти в профиль">
    </form>
    <br/>
</div>
<hr/>
<div th:if="${products.isEmpty()}">
    <p>Товаров пока нет в магазине!</p>
</div>
<form th:method="GET" th:action="@{/home}">
    <label>Поиск товара</label>
    <input type="search" name="title" placeholder="Введите название товара...">
    <input type="submit" value="Найти"/>
</form>
<div th:if="${#lists.isEmpty(searchProduct)}">
    <p>Товар с таким названием не найден</p>
</div>
<div th:each="product1 : ${searchProduct}">
    <div th:if="${product1.isActiveProduct()}">
        <h4><b th:text="${product1.getTitle()} + ' | ' + ${product1.getPrice()} + ' руб.'">title</b></h4>
        <img th:src="@{/home/images/{id}(id=${product1.getPreviewImageId()})}" height="150px"/><br/>
        <a th:href="@{/home/{id}(id=${product1.getId()})}">Подробнее...</a>
    </div>
</div>
<br/>
<hr/>

<br/>
<br/>
<b>Категории товаров: </b>
<br/>
<table>
    <tr class="button-container">
        <th>
            <form th:method="GET" th:action="@{/auto_product}">
                <input type="submit" value="Авто">
            </form>
        </th>
        <th>
            <form th:method="GET" th:action="@{/product}">
                <input type="submit" value="Разные товары">
            </form>
        </th>
        <th>
            <form th:method="GET" th:action="@{/real_estate}">
                <input type="submit" value="Недвижимость">
            </form>
        </th>
    </tr>
</table>

<br/>
<br/>

<div th:each="product : ${products}">
    <div th:if="${product.isActiveProduct()}">
        <h4><b th:text="${product.getTitle()} + ' | ' + ${product.getPrice()} + ' руб.'">title</b></h4><br/>
        <img th:src="@{/home/images/{id}(id=${product.getPreviewImageId()})}" height="150px"/><br/>
        <a th:href="@{/home/{id}(id=${product.getId()})}">Подробнее...</a><br/>
    </div>
</div>

<div th:each="autoProduct : ${autoProducts}">
    <div th:if="${autoProduct.isActiveAutoProduct()}">
        <h4><b th:text="${autoProduct.getMark()} + ' | ' + ${autoProduct.getPrice()} + ' руб.'">title</b></h4>
        <img th:src="@{/home/images/{id}(id=${autoProduct.getPreviewImageId()})}" height="150px"/><br/>

        <a th:href="@{/auto_product/{id}(id=${autoProduct.getId()})}">Подробнее...</a><br/>
    </div>
</div>
<div th:each="realEstate : ${realEstateProducts}">
    <div th:if="${realEstate.isActiveRealEstate()}">
        <h4><b th:text="${realEstate.getTypeOfHousing()} + ' | ' + ${realEstate.getPrice() + ' руб.'}">title</b></h4>
        <img th:src="@{/home/images/{id}(id=${realEstate.getPreviewImageId()})}" height="150px"/><br/>

        <a th:href="@{/real_estate/{id}(id=${realEstate.getId()})}">Подробнее...</a><br/>
    </div>
</div>
<br/>
<br/>
<br>
</body>
</html>