<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New product</title>
</head>
<body>
<h3><b>WEBBazaar</b></h3>
<br/>
<hr/>
<h4><b>Форма для создания нового товара: </b></h4>
<hr/>
<h3><b>Выберите категорию товара: </b></h3>
<form th:method="GET" th:action="@{/auto_product/new/auto_product}">
    <input type="submit" value="Авто">
</form>
<br/>
<form th:method="GET" th:action="@{/real_estate/new/real_estate}">
    <input type="submit" value="Недвижимость">
</form>
<br/>
<br/>
<form th:method="POST" th:action="@{/person/new}" th:object="${product}" enctype="multipart/form-data">
    <label for="title">Введите название продукта: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    <br/>
    <br/>
    <label for="description">Описание продукта: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</div>
    <br/>
    <br/>
    <label for="price">Укажите цену: </label>
    <input type="number" th:field="*{price}" id="price"/>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price Error</div>
    <br/>
    <br/>
    <label for="city">Укажите город: </label>
    <input type="text" th:field="*{city}" id="city"/>
    <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">city Error</div>
    <br/>
    <br/>
    <label for="file1">Первое фото: </label>
    <input type="file"  id="file1" name="file1"/>
    <br/>
    <br/>
    <label for="file2">Второе фото: </label>
    <input type="file" id="file2" name="file2"/>
    <br/>
    <br/>
    <label for="file3">Третье фото: </label>
    <input type="file" id="file3" name="file3"/>
    <br/>
    <br/>
    <input type="submit" value="Создать продукт"/>
</form>
<br/>
<hr/>
<form th:method="GET" th:action="@{/person}">
    <input type="submit" value="Вернуться в профиль">
</form>
</body>
</html>