<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Real estate show</title>
</head>
<body>
<h3><b>WEBBazaar</b></h3>
<br/>
<hr/>
<h4><b th:text="${realEstate.getTypeOfHousing()} + ' | ' + ${realEstate.getPrice()} + ' руб.'">title</b></h4>
<br/>
<div th:each="file : ${files}">
    <img th:src="@{/real_estate/images/{id}(id=${file.getId()})}" height="150px"/><br/>
</div>
<h3><b>Тип недвижимости: </b><span th:text="${realEstate.getTypeOfHousing()}">info</span></h3>
<h3><b>Количество комнат: </b><span th:text="${realEstate.getCountOfRooms()}">info</span></h3>
<h3><b>Цена: </b><span th:text="${realEstate.getPrice()}">info</span></h3>
<h3><b>Общая площадь,м²: </b><span th:text="${realEstate.getTotalArea()}">info</span></h3>
<h3><b>Этаж: </b><span th:text="${realEstate.getFloor()}">info</span></h3>
<h3><b>Продавец: </b><span th:text="${realEstate.getSellers()}">info</span></h3>
<h3><b>Ремонт: </b><span th:text="${realEstate.getRepair()}">info</span></h3>
<h3><b>Площадь кухни,м²: </b><span th:text="${realEstate.getKitchenOfArea()}">info</span></h3>
<h3><b>Балкон или лоджия: </b><span th:text="${realEstate.getBalconyOrLoggia()}">info</span></h3>
<h3><b>Высота потолков,м: </b><span th:text="${realEstate.getHeightOfCeiling()}">info</span></h3>
<h3><b>Санузел: </b><span th:text="${realEstate.getBathroom()}">info</span></h3>
<h3><b>Окна: </b><span th:text="${realEstate.getWindowHouse()}">info</span></h3>
<h3><b>Год постройки дома: </b><span th:text="${realEstate.getYearTheBuilt()}">info</span></h3>
<h3><b>Этажей в доме: </b><span th:text="${realEstate.getFloorInTheHouse()}">info</span></h3>
<h3><b>Тип дома: </b><span th:text="${realEstate.getTypeHouse()}">info</span></h3>
<h3><b>Лифт: </b><span th:text="${realEstate.getElevator()}">info</span></h3>
<h3><b>Парковка: </b><span th:text="${realEstate.getParking()}">info</span></h3>
<h3><b>Описание недвижимости: </b><span th:text="${realEstate.getDescription()}">info</span></h3>
<h3><b>Город: </b><span th:text="${realEstate.getCity()}">info</span></h3>
<br/>
<hr/>
<form th:method="GET" th:action="@{/home}">
    <input type="submit" value="Вернуться на главную страницу">
</form>
</body>
</html>